# === Node & dependency caches ===
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.eslintcache
.parcel-cache/
.cache/
.npm/
.tmp/
tmp/
temp/

# === Build & coverage ===
dist/
build/
coverage/
.nyc_output/
*.tsbuildinfo

logs/
*.log
pids/
*.pid
*.seed


.env
.env.*
!.env.example        # contoh env boleh dikomit
!.env.sample


.env.keys
.env.me

*.pem
*.key
*.crt
*.pfx
*.p12
*.cer
*.der
*.csr
*keystore*
*.jks
*.ovpn

*.sqlite
*.sqlite3
*.db
*.pgdump
dump.sql
dumps/
backups/

uploads/
storage/

.DS_Store
Thumbs.db
.idea/
*.iml

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

/src/generated/prisma
